<div class="row">
    <div class="col-md-6 col-lg-3 mb-4">
        <div class="card border-0 rounded-0">
            <div class="card-body">
                <div class="card-innerBody d-flex align-items-center">
                    <div class="card-icon text-light">
                        <i class="fas fa-dollar-sign" aria-hidden="true"></i>
                    </div>
                    <div class="ml-auto">
                        <p class="card-label text-right text-muted">{{cloud}}<br>Monthly Cost</p>
                        <h4 class="card-text text-right">{{cost | currency:'USD':'symbol':'1.2-2'}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>